<nz-list>
  <div class="mx-auto flex flex-col justify-center p-2 w-full">
    <ul class="flex flex-col">
      <li class="flex flex-row mb-2" *ngFor="let txn of allTransactions">
        <div
          class="cursor-pointer rounded-md shadow-md flex flex-1 p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
          (click)="onTxn(txn.id)"
        >
          <div
            class="flex flex-col rounded-md w-10 h-10 bg-gray-100 justify-center items-center mr-4"
          >
            <img
              [src]="getIcon(txn.data.category)"
              class="object-cover w-8 h-8"
            />
          </div>
          <div class="flex-1 mr-6">
            <div class="font-medium overflow-hidden truncate w-32">
              {{ txn.data.title }}
            </div>
            <div class="text-gray-500 text-xs mt-1">
              {{ txn.data.date | date }}
            </div>
          </div>
          <div class="text-md text-indigo-600 font-semibold">
            {{ (currency | async)?.symbol }} {{ txn.data.amount | number }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="loadmore"
    nz-list-load-more
    *ngIf="loadMore && allTransactions && allTransactions.length > 0"
  >
    <button
      type="button"
      (click)="onLoadMore()"
      class="text-center bg-white inline-flex text-primary py-0.5 px-1.5 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
    >
      <span class="capitalize lg:inline">load more</span>
    </button>
  </div>
</nz-list>

<nz-empty
  class="h-[16rem]"
  *ngIf="enableEmpty && allTransactions && allTransactions.length === 0"
  nzNotFoundImage="assets/No-data-pana.svg"
  [nzNotFoundContent]="'You have no transactions'"
></nz-empty>
