.loadmore {
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
}

.ant-tag{
  margin: 0px -6px 0px 0px !important;
  font-size: 10px !important;
  border: none  !important;
  background: none !important;
}
