<!-- header -->
<div class="mx-auto flex flow-root p-1 w-full">
  <div class="relative inline-block">
    <span class="text-xl md:text-2xl font-semibold"> Budgets </span>
    <span
      class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-indigo-400 via-blue-400 to-indigo-500 rounded-full"
    ></span>
  </div>
  <button
    type="button"
    [routerLink]="['/add-budget']"
    class="float-right bg-white mt-1 inline-flex text-primary py-0.5 px-1.5 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
  >
    <span class="capitalize lg:inline leading-5">New</span> &nbsp;
    <svg
      class="w-[18px] h-[18px] text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.2"
        d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button>
</div>

<div class="p-1 mt-2">
  <div
    *ngFor="let budget of budgets"
    class="bg-white max-w-xs shadow-lg mx-auto border-b-4 border-indigo-500 rounded-2xl overflow-hidden mb-4 hover:shadow-2xl transition duration-500 transform hover:scale-105"
  >
    <div
      class="flex flex-col justify-start bg-gradient-to-r from-indigo-400 to-indigo-500 h-20 p-4 flow-root"
    >
      <span class="float-left">
        <p class="ml-4 text-white text-lg font-semibold">
          {{ budget.data.name }}
        </p>
        <p class="ml-4 text-white text-sm">
          <span class="font-bold"
            >₹
            {{
              budget.data.totalBudget - budget.data.spentAmount | number
            }}</span
          >&nbsp;
          <span *ngIf="isOverspent(budget)">overspent of</span>
          <span *ngIf="!isOverspent(budget)">left of</span>
          {{ budget.data.totalBudget | number }}
        </p>
      </span>
      <span
        class="float-right text-white cursor-pointer mt-1"
        (click)="onshare(budget.id, budget.data.users, budget.data.createdBy)"
        nz-icon
        style="font-size: 20px"
        nzType="usergroup-add"
        nzTheme="outline"
      ></span>
    </div>
    <p class="py-6 px-6 text-md tracking-wide flow-root">
      <span class="float-left">{{
        budget.data.startDate | date : "dd MMM"
      }}</span>
      <span class="float-right">{{
        budget.data.endDate | date : "dd MMM"
      }}</span>
      <nz-progress
        [nzPercent]="getSpentPerc(budget)"
        [nzShowInfo]="isOverspent(budget) ? false : true"
        [nzStatus]="isOverspent(budget) ? 'exception' : 'active'"
        [nzStrokeWidth]="10"
      ></nz-progress>
    </p>
    <div class="flex justify-center px-5 mb-2 text-sm">
      <button
        class="secondary"
        nz-button
        nz-popconfirm
        nzPopconfirmTitle="Are you sure, you want to mark it as completed ?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="confirm(budget.id, 'complete')"
      >
        <span nz-icon nzType="check-circle"></span></button
      >&nbsp;&nbsp;
      <button
        class="secondary"
        nz-button
        nz-popconfirm
        nzPopconfirmTitle="Are you sure, you want to mark it as deleted ?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="confirm(budget.id, 'delete')"
      >
        <span nz-icon nzType="delete"></span>
      </button>
    </div>
  </div>
</div>

<nz-empty
  *ngIf="budgets && budgets.length === 0"
  nzNotFoundImage="assets/No-data-pana.svg"
  [nzNotFoundContent]="'You have no budgets'"
></nz-empty>

<!-- modal invite -->

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="isVisible"
  [nzPlacement]="'bottom'"
  nzTitle="Invite Members"
  [nzExtra]="extra"
  (nzOnClose)="oncancel()"
>
  <ng-container *nzDrawerContent>
    <form nz-form class="w-full max-w-7xl" [formGroup]="form">
      <div class="flex items-center border-b border-indigo-500 py-2">
        <nz-form-item class="w-full">
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <nz-input-group>
              <input
                nz-input
                placeholder="Enter email"
                formControlName="email"
                name="email"
                email
              />

              <ng-template #emailErrorTpl let-control>
                <span *ngIf="control.errors?.['pattern']">
                  Please enter valid google email id
                </span>
                <span *ngIf="control.errors?.['required']">
                  This is required
                </span>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <button
            nz-button
            class="primary float-right"
            (click)="handleShare()"
            [nzLoading]="isConfirmLoading"
          >
            Send Invite
          </button>
        </nz-form-item>
      </div>
    </form>
    <nz-list nzBordered>
      <nz-list-item *ngFor="let user of users">
        <div class="contents">
          <span class="float-left">
            <nz-avatar
              nzIcon="user"
              style="background-color: rgb(86, 86, 241)"
            ></nz-avatar>
            &nbsp;
            <span nz-typography>{{ user.email }}</span>
          </span>
          <span
            *ngIf="user.delete"
            class="cursor-pointer float-right"
            nz-icon
            nzType="close-circle"
            nzTheme="outline"
            (click)="removeUser(user.email)"
          ></span>
        </div>
      </nz-list-item>
    </nz-list>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <span
    class="cursor-pointer"
    nz-icon
    nzType="close-circle"
    nzTheme="outline"
    (click)="oncancel()"
  ></span>
</ng-template>
