<!-- header -->
<div class="mx-auto flex flow-root p-1 w-full">
  <div class="relative inline-block">
    <span class="text-xl md:text-2xl font-semibold"> Budgets </span>
    <span
      class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-indigo-400 via-blue-400 to-indigo-500 rounded-full"
    ></span>
  </div>
  <button
    type="button"
    [routerLink]="['/add-budget']"
    class="float-right bg-white mt-1 inline-flex text-primary py-0.5 px-1.5 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
  >
    <span class="capitalize lg:inline leading-5">New</span> &nbsp;
    <svg
      class="w-[18px] h-[18px] text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.2"
        d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button>
</div>

<div class="p-1 mt-2">
  <div
    *ngFor="let budget of budgets"
    class="bg-white max-w-xs shadow-lg mx-auto border-b-4 border-indigo-500 rounded-2xl overflow-hidden mb-4"
  >
    <div
      class="flex flex-col justify-start bg-gradient-to-r from-indigo-400 to-indigo-500 h-20 p-4 flow-root"
    >
      <span class="float-left">
        <p class="text-white text-lg font-semibold">
          {{ budget.data.name }}
        </p>
        <p class="text-white text-sm">
          <span class="font-bold"
            >{{ (currency | async)?.symbol }}
            {{
              budget.data.totalBudget - budget.data.spentAmount | number
            }}</span
          >&nbsp;
          <span *ngIf="isOverspent(budget)">overspent of</span>
          <span *ngIf="!isOverspent(budget)">left of</span>
          {{ budget.data.totalBudget | number }}
        </p>
      </span>
    </div>
    <p class="py-4 px-4 text-md tracking-wide flow-root">
      <span class="float-left">{{
        budget.data.startDate | date : "dd MMM"
      }}</span>
      <span class="float-right">{{
        budget.data.endDate | date : "dd MMM"
      }}</span>
      <nz-progress
        [nzPercent]="getSpentPerc(budget)"
        [nzShowInfo]="isOverspent(budget) ? false : true"
        [nzStatus]="isOverspent(budget) ? 'exception' : 'active'"
        [nzStrokeWidth]="10"
      ></nz-progress>
    </p>

    <div class="flex flow-root p-4">
      <div class="">
        <span class="float-left">
          <nz-avatar-group>
            <span
              class="-mr-1"
              *ngFor="let user of budget.data.users; let i = index"
            >
              <nz-avatar
                *ngIf="i < 2"
                style="background-color: #9197f8"
                nzIcon="user"
              ></nz-avatar>
            </span>
          </nz-avatar-group>
          <nz-avatar
            *ngIf="budget.data.users.length > 2"
            style="background-color: #9197f8; color: #c2c2c2"
            [nzText]="'+' + (budget.data.users.length - 2)"
          ></nz-avatar>
          <span
            class="text-white cursor-pointer ml-1"
            (click)="onShare(budget)"
            nz-icon
            style="
              font-size: 20px;
              border-radius: 50%;
              padding: 6px;
              background: #9197f8;
            "
            nzType="usergroup-add"
            nzTheme="outline"
          ></span>
        </span>
        <span class="text-gray-500 float-right">
          <span
            class="cursor-pointer text-gray-400"
            nz-icon
            nzType="right"
            nzTheme="outline"
            (click)="openOverview(budget.id)"
          ></span>
        </span>
      </div>
    </div>
  </div>
</div>

<nz-empty
  *ngIf="budgets && budgets.length === 0"
  nzNotFoundImage="assets/No-data-pana.svg"
  [nzNotFoundContent]="'You have no budgets'"
></nz-empty>

<app-invitation-modal
  [visible]="isVisible"
  [budget]="budgetData"
  [users]="users"
  (closeModal)="onclose()"
></app-invitation-modal>
