
::ng-deep.ant-progress-text{
  display: block;
    text-align: center;
    margin: 0 auto;
}

::ng-deep.ant-progress-outer{
  margin-right: 0 !important;
  padding-right: 0 !important;
}

::ng-deep.ant-empty-image{
  display: inline-block;
  margin-top: 10%;
}

::ng-deep.ant-btn:hover {
  color: #4f46e5;
  border-color: #4f46e5;
}
