
::ng-deep.ant-progress-text{
  display: block;
    text-align: center;
    margin: 0 auto;
}

::ng-deep.ant-progress-outer{
  margin-right: 0 !important;
  padding-right: 0 !important;
}

::ng-deep.ant-drawer-content{
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

[nz-icon]{
  font-size: 16px;
}
