<!--Start Background Animation Body-->
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="flex h-screen">
  <div class="justify-center m-auto">
    <h3 class="ml-4 text-white">Money Wise</h3>
    <button
    class="p-2 flex mx-auto  flex justify-center items-center mt-1"
    nz-button
    nzType="default"
    [nzSize]="'large'"
    nzShape="round"
    (click)="login()"
  >
    <span nz-icon nzType="google" nzTheme="outline"></span>
    Login
  </button>
  </div>
</div>
<!--End Background Animation Body-->
