<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="'bottom'"
  nzTitle="Action"
  [nzExtra]="extra"
  [nzFooter]="filterFooter"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div class="flex flex-col h-[35vh] justify-center items-center">
      <img
        *ngIf="action === 'complete'"
        class="h-[12rem]"
        src="assets/Completed-bro.svg"
      />
      <img
        *ngIf="action === 'delete'"
        class="h-[12rem]"
        src="assets/Inbox-cleanup.svg"
      />

      <h3
        *ngIf="action === 'complete'"
        class="mt-1 text-sm text-center text-gray-500 text-semibold"
      >
        Are you sure, you want to mark the budget as completed ?
      </h3>
      <h3
        *ngIf="action === 'delete'"
        class="mt-1 text-sm text-center text-gray-500 text-semibold"
      >
        Are you sure, you want to delete the budget ?
      </h3>
      <span *ngIf="action === 'delete'" class="text-xs text-red-400">All the transactions of the budget will be deleted</span>
    </div>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <span
    class="cursor-pointer"
    nz-icon
    nzType="close-circle"
    nzTheme="outline"
    (click)="close()"
  ></span>
</ng-template>

<ng-template #filterFooter>
  <div class="flex flex-row items-center justify-center">
    <button
      nz-button
      class="secondary rounded-full w-2/5"
      nzType="primary"
      (click)="close()"
    >
      Cancel
    </button>
    &nbsp;
    <button
      nz-button
      class="primary rounded-full w-2/5"
      nzType="primary"
      (click)="confirm()"
    >
      Confirm
    </button>
  </div>
</ng-template>
