nz-date-picker {
  display: block;
}

::ng-deep.txn-item.ant-form-item {
  margin: 0px 18px 18px 18px;
}

/* This will apply if the screen width is 600px or less */
@media screen and (max-width: 600px) {
  .scroll-sm {
    width: 20rem;
    overflow-x: auto;
  }
}


::ng-deep.ant-input-group-addon, .ant-input-group-wrap {
  width: 42px !important;
  background-color: white !important;
}

::ng-deep.ant-radio-wrapper-in-form-item {
  width: 50%  !important;
}

::ng-deep.ant-radio-group{
  display: block;
}
