<form
  nz-form
  [nzLayout]="'vertical'"
  [formGroup]="form"
  class="p-1 h-full justify-center"
>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired
      >Category</nz-form-label
    >

    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select category"
        formControlName="category"
      >
        <nz-option
          nzCustomContent
          *ngFor="let opt of categories"
          nzLabel="{{ opt.name }}"
          nzValue="{{ opt.name }}"
        >
          <span class="flex flex-row">
            <img src="{{ opt.icon }}" width="25px" height="25px" />
            &nbsp;&nbsp;{{ opt.name }}
          </span>
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount" nzRequired
      >Amount</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <nz-input-group nzAddOnBefore="₹">
        <input
          nz-input
          type="number"
          placeholder="Enter amount"
          formControlName="amount"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title"
      >Title</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <input
        placeholder="Enter expense title"
        nz-input
        formControlName="title"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Date</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <nz-date-picker formControlName="date"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
      >Include in Budget</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select Budget"
        formControlName="budgetId"
      >
        <nz-option
          nzCustomContent
          *ngFor="let opt of budgets"
          nzLabel="{{ opt.name }}"
          nzValue="{{ opt.id }}"
        >
          {{ opt.name }}
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area flex content-center">
    <button
      *ngIf="!isUpdate"
      nz-button
      class="bg-indigo-500 hover:bg-indigo-600 rounded-full w-full"
      nzType="primary"
      (click)="submitForm()"
    >
      Add Transaction
    </button>
    <button
      *ngIf="isUpdate"
      nz-button
      class="bg-indigo-500 hover:bg-indigo-600 rounded-full w-full"
      nzType="primary"
      (click)="updateTxn()"
    >
      Update Transaction
    </button>
    <nz-form-control> </nz-form-control>
  </nz-form-item>
</form>
