nz-date-picker {
  display: block;
}

/* This will apply if the screen width is 600px or less */
@media screen and (max-width: 600px) {
  .scroll-sm {
    width: 18rem;
    overflow-x: auto;
  }
}

form[nz-form] {
  height: 48rem !important; /* remove fixed height */
  overflow: visible !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* prevent button from pushing out */
}

.ant-btn[disabled]{
  background-color: #5e56ec !important;
  border-color: #5e56ec !important;
  color:white !important;
  opacity: 0.5;
}

::ng-deep.ant-input-group-addon, .ant-input-group-wrap {
  width: 42px !important;
  background-color: white !important;
}

::ng-deep.ant-radio-wrapper-in-form-item {
  width: 50%  !important;
}

::ng-deep.ant-radio-group{
  display: block;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background-color: #5e56ec;
  border-color: #5e56ec;
  color:white;
}
