.layout {
  min-height: 100vh;
  overflow-y:hidden;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nz-header {
  background: #fff;
  padding: 0;
  height: 60px;
  line-height: 60px;
}

.inner-content {
  padding: 4px;
  background: #fff;
  height: 82vh;
  width: 100%;
}

/* This will apply if the screen width is 600px or less */
@media screen and (max-width: 600px) {
  .inner-content {
      height: 88vh;
  }
  ::ng-deep.ant-empty-image{
    display: inline-block !important;
    margin-top: 50% !important;
  }
}

nz-footer {
  text-align: center;
  background: #fff;
}

.icon-sz{
  font-size: 20px;
}

button.active > svg{
  color: #4f46e5;
}


button.active > span{
  color: #4f46e5;
  font-weight: 500;
}

::ng-deep.ant-spin-dot-item {
  background-color: #4f46e5 !important;
}


::ng-deep.ant-spin-nested-loading>div>.ant-spin .ant-spin-text{
  color: #4f46e5;
}

::ng-deep.primary{
  background: #5e56ec !important;
  color: white !important;
}

::ng-deep.primary:hover{
  background:#4f46e5  !important;
  color: white !important;
}

::ng-deep.secondary{
  background: white !important;
  color: #5e56ec !important;
  border-color: #5e56ec !important;
}

::ng-deep.secondary:hover{
  background:#4f46e5  !important;
  color: white !important;
}

::ng-deep.ant-empty-image{
  display: inline-block;
  margin-top: 10%;
}

::ng-deep.ant-spin-nested-loading>div>.ant-spin{
  max-height: none;
}

:ng-deep.ant-drawer-body {
  padding-top: 2px !important;
}
