.layout {
  min-height: 100vh;
  overflow-y:hidden;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nz-header {
  background: #fff;
  padding: 0;
}

.inner-content {
  padding: 5px;
  background: #fff;
  height: 82vh;
  width: 100%;
}

nz-footer {
  text-align: center;
  background: #fff;
}

.icon-sz{
  font-size: 20px;
}

button.active > svg{
  color: #4f46e5;
}


button.active > span{
  color: #4f46e5;
  font-weight: 500;
}

::ng-deep.ant-spin-dot-item {
  background-color: #4f46e5 !important;
}
