<!--Start Background Animation Body-->
<!-- <div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div> -->
<!--End Background Animation Body-->

<div class="fixed bottom-0 left-0 z-50 w-full p-1">
  <div class="h-full max-w-lg mx-auto font-medium">

    <nz-tabset [nzTabPosition]="'bottom'">
      <nz-tab nzTitle="Transactions"><app-transactions></app-transactions></nz-tab>
      <nz-tab nzTitle="Tab 2">Content of Tab Pane 2</nz-tab>
      <nz-tab nzTitle="Tab 3">Content of Tab Pane 3</nz-tab>
    </nz-tabset>
  </div>

</div>

