.layout {
  min-height: 100vh;
  overflow-y:hidden;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nz-header {
  background: #fff;
  padding: 0;
}

.inner-content {
  padding: 10px;
  background: #fff;
  height: 88vh;
  width: 100%;
}

nz-footer {
  text-align: center;
  background: #fff;
}


[nz-icon] {
  font-size: 20px;
}

button.active{
  border-top: 2px solid #4f46e5;
}


button.active > [nz-icon]{
  color: #4f46e5;
}


button.active > span.tabname{
  color: #4f46e5;
}
