<div class="container py-2 mx-auto flex justify-center items-center">
  <div class="p-2 border bg-white rounded-md shadow-dashboard">
    <div class="flex flex-wrap items-center justify-between mb-1 ">
      <div class="w-auto p-0.5">
        <h2 class="text-md font-semibold text-gray-600">Category Analysis</h2>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div
        class="w-full flex flex-wrap items-center justify-between py-4 border-b border-coolGray-100"
        *ngFor="let cat of categoryData"
      >
        <div class="w-auto p-0.5">
          <div class="flex flex-wrap items-center">
            <div class="w-auto p-0.5">
              <div
                class="flex items-center justify-center w-12 h-12 bg-gray-50 rounded-md"
              >
              <img
                [src]="getIcon(cat.category)"
                class="object-cover w-8 h-8"
              />
              </div>
            </div>
            <div class="w-auto p-0.5">
              <h2 class="text-sm font-medium text-coolGray-900">
                {{ cat.category }}
              </h2>
              <h3 class="text-xs text-coolGray-400">
                {{ cat.count }} transactions
              </h3>
            </div>
          </div>
        </div>
        <div class="w-auto p-0.5">
          <p class="text-xs text-coolGray-500 font-medium">
            {{ (currency | async)?.symbol }} {{ cat.sum }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
