<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="'bottom'"
  [nzTitle]="category ? categoryTemplate : labelTemplate"
  [nzExtra]="extra"
  [nzSize]="transactions.length > 3 ? 'large' : 'default'"
  [nzBodyStyle]="{ padding: '16px 20px', backgroundColor: '#fafafa' }"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div *ngIf="transactions.length > 0" class="mb-6">
      <app-transaction-list
        [allTransactions]="transactions"
        [loadMore]="false"
        [enableEmpty]="false"
        [padded]="false"
        [enableAction]="false"
      ></app-transaction-list>
    </div>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <span
    class="cursor-pointer"
    nz-icon
    nzType="close-circle"
    nzTheme="outline"
    (click)="close()"
  ></span>
</ng-template>

<ng-template #categoryTemplate>Spent on {{ category }}</ng-template>
<ng-template #labelTemplate>Spent by {{ label }}</ng-template>
