<!-- header -->
<div class="mx-auto flex flow-root p-1 w-full">
  <div class="relative inline-block">
    <span class="text-xl md:text-2xl font-semibold"> More </span>
    <span
      class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-indigo-400 via-blue-400 to-indigo-500 rounded-full"
    ></span>
  </div>
</div>

<div class="p-1 mt-1">
  <div nz-col>
    <nz-card>
      <nz-card-meta [nzAvatar]="template1" nzTitle="Account"></nz-card-meta>
      Cash
    </nz-card>
    <ng-template #template1>
      <span
        nz-icon
        class="w-6 h-6 mb-1 text-indigo-600"
        nzType="wallet"
        nzTheme="outline"
      ></span>
    </ng-template>
  </div>
  <br />
  <div nz-col>
    <nz-card>
      <nz-card-meta [nzAvatar]="template2" nzTitle="Currency"></nz-card-meta>
      ₹ Indian Rupee
      <!-- <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select Currency"
        formControlName="category"
      >
        <nz-option
          nzCustomContent
          *ngFor="let opt of currencies"
          nzLabel="{{ opt.name }}"
          nzValue="{{ opt.currency }}"
        >
          {{ opt.currency | currencySymbol }} {{ opt.name }}
        </nz-option>
      </nz-select> -->
    </nz-card>
    <ng-template #template2>
      <span
        nz-icon
        class="w-6 h-6 mb-1 text-indigo-600"
        nzType="dollar"
        nzTheme="outline"
      ></span>
    </ng-template>
  </div>
  <br />
  <div nz-col>
    <nz-card>
      <nz-card-meta [nzAvatar]="template3" nzTitle="Categories"></nz-card-meta>
      All Categories
    </nz-card>
    <ng-template #template3>
      <span
        nz-icon
        class="w-6 h-6 mb-1 text-indigo-600"
        nzType="appstore"
        nzTheme="outline"
      ></span>
    </ng-template>
  </div>
</div>
