.icon-sm {
  font-size: 10px;
  opacity: 0.6;
  margin-top: 3px;
}

::ng-deep.ant-card-body {
  padding: 15px !important;
}

::ng-deep.profile > .ant-card-body {
  text-align: center !important;
}
