<div class="mx-auto flex flow-root p-1 w-full">
  <div class="relative inline-block">
    <span class="text-xl md:text-2xl font-semibold"> Overview</span>
    <span
      class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-indigo-400 via-blue-400 to-indigo-500 rounded-full"
    ></span>
  </div>
  &nbsp;&nbsp;
  <button
    class="float-right bg-white mt-1 inline-flex text-primary py-0.5 px-1.5 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
    type="button"
    nz-popconfirm
    nzPopconfirmTitle="Are you sure, you want to mark it as completed ?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="confirm(budgetId, 'complete')"
  >
    <span class="capitalize lg:inline mr-1">Complete</span>
    <span nz-icon nzType="check-circle"></span></button
  >&nbsp;&nbsp;
  <button
    class="float-right bg-white mt-1 mr-1 inline-flex text-primary py-0.5 px-1.5 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
    type="button"
    nz-popconfirm
    nzPopconfirmTitle="Are you sure, you want to mark it as deleted ?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="confirm(budgetId, 'delete')"
  >
    <span class="capitalize lg:inline mr-1">Delete</span>

    <span nz-icon nzType="delete"> </span>
  </button>
</div>

<div
  class="mx-auto flex flex-col justify-center p-2 mt-4 w-full"
  *ngIf="budgetData"
>
  <div class="flex flow-root">
    <span class="text-gray-500 float-left">Budget Amount</span>
    <span class="float-right"
      >{{ (currency | async)?.symbol }}
      {{ budgetData.totalBudget | number }}</span
    >
    <br />
    <span class="text-gray-500 float-left">Expenditure Amount</span>
    <span class="float-right"
      >{{ (currency | async)?.symbol }}
      {{ budgetData.spentAmount | number }}</span
    >
    <br />
    <hr />
    <span class="text-gray-500 float-left">Remaining Amount</span>
    <span class="float-right"
      >{{ (currency | async)?.symbol }}
      {{ budgetData.totalBudget - budgetData.spentAmount | number }}</span
    >
    <br /><br />
    <nz-alert nzType="info" [nzDescription]="descTemp"></nz-alert>
    <ng-template #descTemp>
      <span class="inline-flex">
        Congratulations!
        <picture>
          <source
            srcset="
              https://fonts.gstatic.com/s/e/notoemoji/latest/1f389/512.webp
            "
            type="image/webp"
          />
          <img
            src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f389/512.gif"
            alt="🎉"
            width="32"
            height="32"
          />
        </picture>
      </span>
      you have saved {{ (currency | async)?.symbol }}
      {{ budgetData.totalBudget - budgetData.spentAmount | number }} from you
      total budget amount.
    </ng-template>
  </div>

  <!-- waring, spent less, or more -->

  <!-- day wise analysis -->

  <!-- top 5 categiroes -->
  <app-stats [budgetId]="budgetId"></app-stats>
</div>
