<form
  nz-form
  [nzLayout]="'vertical'"
  [formGroup]="form"
  class="p-1 h-full justify-center"
>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Start Date</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <nz-date-picker formControlName="startDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>End Date</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <nz-date-picker formControlName="endDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount" nzRequired
      >Budget Amount</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <nz-input-group [nzAddOnBefore]="(currency | async)?.symbol">
        <input
          nz-input
          type="number"
          placeholder="Enter amount"
          formControlName="totalBudget"
        />
      </nz-input-group>
    </nz-form-control>
    <span class="inline-flex mt-3">
      <span
        class="text-xs text-gray-400 mr-1"
        nz-tooltip
        nzTooltipTitle="Suggestions"
        nz-icon
        nzType="info-circle"
        nzTheme="outline"
      ></span>
      <nz-tag
        class="cursor-pointer"
        *ngFor="let amount of budgetAmountSuggestions"
        [nzColor]="'geekblue'"
        (click)="onAmountClick(amount)"
      >
        {{ (currency | async)?.symbol }} {{ amount | number }}
      </nz-tag>
    </span>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title"
      >Name Your Budget</nz-form-label
    >
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This is required">
      <input placeholder="Enter Budget Name" nz-input formControlName="name" />
    </nz-form-control>

    <span class="inline-flex mt-3">
      <span
        class="text-xs text-gray-400 mr-1"
        nz-tooltip
        nzTooltipTitle="Suggestions"
        nz-icon
        nzType="info-circle"
        nzTheme="outline"
      ></span>
      <nz-tag
        class="cursor-pointer"
        *ngFor="let name of budgetNameSuggestions"
        [nzColor]="'geekblue'"
        (click)="onNameClick(name)"
      >
        {{ name }}
      </nz-tag>
    </span>
  </nz-form-item>

  <nz-form-item nz-row class="register-area flex content-center">
    <button
      *ngIf="!isUpdate"
      nz-button
      class="primary rounded-full w-full"
      (click)="createBudget()"
    >
      Add Budget
    </button>
  </nz-form-item>
</form>
