nz-date-picker {
  display: block;
}

::ng-deep.bud-item.ant-form-item {
  margin: 0px 18px 18px 18px;
}

::ng-deep.ant-input-group-addon, .ant-input-group-wrap {
  width: 42px !important;
  background-color: white !important;
}

.ant-btn[disabled]{
  background-color: #5e56ec !important;
  border-color: #5e56ec !important;
  color:white !important;
  opacity: 0.5;
}
