.active{
  border: 1px solid #4f46e5;
  font-weight: 500;
  color: #4f46e5;
}

::ng-deep.ant-empty-image{
  display: inline-block;
}


[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}
