<!-- header -->
<div class="mx-auto flex flow-root p-1 w-full">
  <div class="relative inline-block">
    <span class="text-xl md:text-2xl font-semibold"> Transactions </span>
    <span
      class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-indigo-400 via-blue-400 to-indigo-500 rounded-full"
    ></span>
  </div>
  <!-- <button
    *ngIf="showDot"
    type="button"
    (click)="clear()"
    class="float-right bg-white mt-1 inline-flex text-primary py-0.5 px-1.5 ml-1 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
  >
    <span class="capitalize lg:inline">Clear</span>
    &nbsp;
    <svg
      class="w-[18px] h-[18px] text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button> -->
  <button
    type="button"
    (click)="openFilters()"
    class="float-right bg-white mt-1 inline-flex text-primary py-0.5 px-1.5 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
  >
    <nz-badge [nzDot]="showDot">
      <span class="capitalize lg:inline">Filters</span>
    </nz-badge>
    &nbsp;
    <svg
      class="w-[18px] h-[18px] text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="1.5"
        d="M20 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6h-2m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4"
      />
    </svg>
  </button>

  <button
    type="button"
    (click)="openSort()"
    class="float-right bg-white mt-1 mr-1 inline-flex text-primary py-0.5 px-1.5 items-center justify-between text-md capitalize border border-gray-400 rounded-full"
  >
    <span class="capitalize lg:inline">Sort</span>
    &nbsp;
    <svg
      class="w-[18px] h-[18px] text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M8 20V10m0 10-3-3m3 3 3-3m5-13v10m0-10 3 3m-3-3-3 3"
      />
    </svg>
  </button>
</div>

<!-- component -->
<div class="mx-auto flex flex-col justify-center items-center p-1 w-full">
  <ul class="flex flex-col p-4">
    <li class="flex flex-row mb-2" *ngFor="let txn of allTransactions">
      <div
        class="cursor-pointer rounded-md shadow-md flex flex-1 p-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
        (click)="onTxn(txn.id)"
      >
        <div
          class="flex flex-col rounded-md w-10 h-10 bg-gray-100 justify-center items-center mr-4"
        >
          <img
            [src]="getIcon(txn.data.category)"
            class="object-cover w-8 h-8"
          />
        </div>
        <div class="flex-1 pl-1 mr-16">
          <div class="font-medium">{{ txn.data.title }}</div>
          <div class="text-gray-500 text-xs mt-1">
            {{ txn.data.date | date }}
          </div>
        </div>
        <div class="text-lg text-indigo-600 font-semibold">
          ₹ {{ txn.data.amount | number }}
        </div>
      </div>
    </li>
  </ul>
</div>

<nz-empty
  *ngIf="allTransactions && allTransactions.length === 0"
  nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
  [nzNotFoundContent]="'You have no transactions'"
></nz-empty>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleFilters"
  [nzPlacement]="'bottom'"
  nzTitle="Filters"
  [nzExtra]="extra"
  [nzFooter]="filterFooter"
  (nzOnClose)="closeFilters()"
>
  <ng-container *nzDrawerContent>
    <p class="text-bold">Category</p>
    <div class="flex flex-wrap items-center mt-2">
      <button
        type="button"
        *ngFor="let cat of categories"
        (click)="onSelect(cat.name)"
      >
        <span
          [class.active]="selectedCat === cat.name"
          class="bg-white inline-flex text-primary py-0.5 px-3 items-center justify-between text-xs capitalize border border-gray-400 rounded-full hover:bg-gray-gray1 mb-2 mr-2"
        >
          <img
            [src]="cat.icon"
            class="object-cover w-4 h-4 mr-1"
            loading="lazy"
            style="color: transparent"
            width="16"
            height="16"
          />
          <span class="capitalize lg:inline leading-5">{{ cat.name }}</span>
        </span>
      </button>
    </div>
  </ng-container>
</nz-drawer>

<ng-template #filterFooter>
  <div nz-row class="flex content-evenly">
    <button
      nz-button
      class="bg-white text-indigo-500 hover:bg-indigo-600 hover:text-white rounded-full w-2/5"
      nzType="primary"
      (click)="clear()"
    >
      Clear
    </button>
    &nbsp;
    <button
      nz-button
      class="bg-indigo-500 hover:bg-indigo-600 hover:text-white rounded-full w-2/5"
      nzType="primary"
      (click)="apply()"
    >
      Apply
    </button>
  </div>
</ng-template>
<ng-template #extra>
  <span
    class="cursor-pointer"
    nz-icon
    nzType="close-circle"
    nzTheme="outline"
    (click)="closeFilters()"
  ></span>
</ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visibleSorting"
  [nzPlacement]="'bottom'"
  nzTitle="Sort"
  [nzExtra]="extrasort"
  (nzOnClose)="closeSort()"
>
  <ng-container *nzDrawerContent>
    <div class="flex flex-wrap items-center ml-2 mt-2">
      <nz-radio-group [(ngModel)]="sortingType" (ngModelChange)="sort()">
        <label
          class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 gap-6 rounded-lg p-2 ring-1 ring-transparent hover:bg-slate-50"
          nz-radio
          nzValue="date-asc"
          >Date (Newest)</label
        >
        <label
          class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 gap-6 rounded-lg p-2 ring-1 ring-transparent hover:bg-slate-50"
          nz-radio
          nzValue="date-desc"
          >Date (Oldest)</label
        >
        <label
          class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 gap-6 rounded-lg p-2 ring-1 ring-transparent hover:bg-slate-50"
          nz-radio
          nzValue="amount-asc"
          >Amount (Highest)</label
        >
        <label
          class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 gap-6 rounded-lg p-2 ring-1 ring-transparent hover:bg-slate-50"
          nz-radio
          nzValue="amount-desc"
          >Amount (Lowest)</label
        >
        <label
          class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 gap-6 rounded-lg p-2 ring-1 ring-transparent hover:bg-slate-50"
          nz-radio
          nzValue="name-asc"
          >Expense Name (a-z)</label
        >
        <label
          class="text-slate-700 has-[:checked]:ring-indigo-200 has-[:checked]:text-indigo-800 has-[:checked]:bg-indigo-50 gap-6 rounded-lg p-2 ring-1 ring-transparent hover:bg-slate-50"
          nz-radio
          nzValue="name-desc"
          >Expense Name (z-a)</label
        >
      </nz-radio-group>
    </div>
  </ng-container>
</nz-drawer>
<ng-template #extrasort>
  <span
    class="cursor-pointer"
    nz-icon
    nzType="close-circle"
    nzTheme="outline"
    (click)="closeSort()"
  ></span>
</ng-template>
