[nz-radio] {
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
}

::ng-deep.ant-slider-track {
  background-color: #4f46e5;
}

::ng-deep.ant-slider:hover .ant-slider-track {
  background-color: #5f58de;
}

.selected-label {
  @apply relative inline-flex items-center px-4 py-2 text-sm text-green-800 bg-green-100 border border-green-400 rounded-full shadow-sm transition-all duration-200;
}

.unselected-label {
  @apply relative inline-flex items-center px-4 py-2 text-sm text-gray-700 bg-white border border-gray-300 rounded-full shadow-sm hover:bg-gray-50 hover:border-gray-400 transition-all duration-200 hover:shadow-md;
}
