.active{
  border: 1px solid #4f46e5;
  font-weight: 500;
  color: #4f46e5;
}

::ng-deep.ant-empty-image{
  display: inline-block;
  margin-top: 10%;
}


[nz-radio] {
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
}

[nz-icon]{
  font-size: 18px;
}
