.active{
  border: 1px solid #4f46e5;
  font-weight: 500;
  color: #4f46e5;
}

[nz-radio] {
  display: flex;
  align-items: flex-start;
  margin-top: 3px;
}

::ng-deep.ant-drawer-content{
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}

::ng-deep.ant-slider-track {
  background-color: #4f46e5;
}

::ng-deep.ant-slider:hover .ant-slider-track {
  background-color: #5f58de;
}
