<!-- component -->
<div class="container mx-auto px-2 md:px-4 lg:px-6">
  <div
    class="py-3 mb-1 bg-white rounded-md border-[1px] border-gray-200 flex flex-col justify-center items-center"
    *ngIf="!(isBudgetAvailable | async)"
  >
    <h1 class="text-2xl text-bold text-center text-indigo-500 inline-flex">
      Get • Set • Budget
      <picture class="ml-2">
        <source
          srcset="https://fonts.gstatic.com/s/e/notoemoji/latest/1f680/512.webp"
          type="image/webp"
        />
        <img
          src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f680/512.gif"
          alt="🚀"
          width="25"
          height="25"
        />
      </picture>
    </h1>
    <img class="h-[18rem] mx-auto" src="assets/strategy-pana.svg" />
    <h3 class="text-sm text-center text-gray-500">
        Make your first budget and track your spending
      <a class="text-indigo-400" [routerLink]="['/new-budget']"
        >Create Budget</a
      >
    </h3>
  </div>
</div>

<!-- welcome text -->
<div class="container mx-auto px-2 md:px-4 lg:px-6">
  <div class="py-3 mb-1 bg-white rounded-md" *ngIf="isBudgetAvailable | async">
    <div class="flex p-2">
      <img src="assets/home/ninja.png" class="object-cover w-10 h-10" />
      <div class="ml-2 flex flex-col">
        <span class="text-md text-gray-600"> Save Like a Ninja! </span>
        <span class="text-xs text-gray-600">
          Keep tabs on what you're spending each day
        </span>
      </div>
    </div>
  </div>
</div>

<!-- spending -->
<div class="container mx-auto px-2 md:px-4 lg:px-6">
  <div class="py-3 inline" *ngIf="isBudgetAvailable | async">
    <span class="text-md font-semibold text-gray-600">Spending</span>
  </div>
  <div class="py-3 mb-1 bg-white rounded-md" *ngIf="isBudgetAvailable | async">
    <div class="flow-root px-1">
      <nz-segmented
        class="w-40 float-left py-1 px-1 mt-1 rounded-md"
        [nzOptions]="options"
        [(ngModel)]="selectedIndex"
      ></nz-segmented>
      <div class="w-32 flex float-right bg-gray-100 rounded-md py-1 px-1 mt-1">
        <div class="flex items-center w-full">
          <img
            width="25"
            height="25"
            src="https://img.icons8.com/parakeet-line/48/cost.png"
            alt="cost"
            class="mr-2"
          />
          <span class="text-xl">
            {{ (currency | async)?.symbol }}
            <ng-container *ngIf="selectedIndex === 0">
              {{ todaySpending | number }}
            </ng-container>
            <ng-container *ngIf="selectedIndex === 1">
              {{ weekSpening | number }}
            </ng-container>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Recommendations -->
<div class="container mx-auto px-2 md:px-4 lg:px-6">
  <div class="py-3 inline" *ngIf="isBudgetAvailable | async">
    <span class="text-md font-semibold text-gray-600">Personalized Tips</span>
  </div>
  <div class="py-3 mb-1 bg-white rounded-md" *ngIf="isBudgetAvailable | async">
    <nz-carousel [nzEffect]="'fade'" [nzAutoPlay]="true">
      <div *ngFor="let el of array" nz-carousel-content>
        <div
          class="flex justify-start items-center gap-4 max-w-lg rounded-lg overflow-hidden mx-auto"
        >
          <div class="w-4/5 p-3">
            <p class="text-sm text-gray-600">{{ el.subheading }}</p>
          </div>
          <div class="relative w-1/5 h-full overflow-hidden">
            <img
              [src]="el.icon"
              alt="Image"
              class="object-cover w-full h-full object-top"
            />
          </div>
        </div>
      </div>
    </nz-carousel>
  </div>
</div>

<!-- Recent Txns -->
<div class="container mx-auto px-2 md:px-4 lg:px-6">
  <div class="py-1 inline">
    <span class="text-md font-semibold text-gray-600">Recent transactions</span>
    <span class="float-right" *ngIf="recentTxns.length > 0">
      <a
        [routerLink]="['/transactions']"
        class="text-xs text-gray-600 border border-gray-200 rounded-full px-1 flex items-center justify-center gap-1 hover:bg-gray"
      >
        See all
        <span
          style="font-size: 10px"
          nz-icon
          class="icon-sz"
          nzType="arrow-right"
          nzTheme="outline"
        ></span>
      </a>
    </span>
  </div>
  <div class="mb-1 rounded-md">
    <div class="mx-auto flex flex-col">
      <div
        class="h-40 bg-white text-md flex items-center justify-center text-center px-6 py-10 rounded-md border-[1px] border-gray-200"
        *ngIf="recentTxns.length == 0"
      >
        <p class="text-gray-500">Your latest transactions will appear here</p>
      </div>
      <div *ngIf="recentTxns.length > 0">
        <app-transaction-list
          [allTransactions]="recentTxns"
          [loadMore]="false"
          [enableEmpty]="false"
        ></app-transaction-list>
      </div>
    </div>
  </div>
</div>
